{% extends 'buybacks/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
<div class="table-responsive">
    <table style="width: 100%; margin: auto;" class="table table-striped table-condensed">
        <thead>
            <tr>
                <th style="width: 50%;">{% trans "Buyback Program Name" %}</th>
                <th style="width: 20%;">{% trans "Corporation" %}</th>
                <th class="text-center" style="width: 30%;">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td style="line-height: 35px;">{{ program.name }}</td>
                <td style="line-height: 35px;">{{ program.corporation.corporation }}</td>
                <td class="text-center">
                    <a class="btn btn-success btn-sm" href="{% url 'buybacks:program_calculate' program_pk=program.id %}">
                        Use this program
                    </a>
                    <a class="btn btn-primary btn-sm" href="{% url 'buybacks:program' program_pk=program.id %}">
                        View
                    </a>
                    {% if perms.buybacks.manage_programs %}
                    <a class="btn btn-danger btn-sm" href="{% url 'buybacks:program_remove' program_pk=program.id %}">
                        Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
