{% load static %}
{% load i18n %}
{% load navactive %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'buybacks:index' %}">{% trans "Buybacks" %}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li class="{% navactive request 'buybacks:index' %}">
                    <a href="#">
                        Statistics
                    </a>
                </li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if perms.freight.manage_programs %}
                    <a class="btn btn-default navbar-btn" href="{% url 'buybacks:program_add' %}">
                        Create Program
                    </a>
                {% endif %}
                {% if perms.freight.setup_retriever %}
                    <a class="btn btn-default navbar-btn" href="{% url 'buybacks:setup' %}">
                        Setup Corp
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
